#label1 {
    color: white;
    margin: auto;
    display: flex;
    align-self: center;
}
#customRange1
{
    display: flex;
    align-self: center;
}

.navbar button {
    background: white;
    width: 100px;
    font-weight: 600;
    padding: 3px 0px;
}

#btn1
{
    margin-left: 25%;
}


#btn2
{
    width: 80px;
    margin-right: 20px;
}
#a
{
    margin: 0;
    display: flex;
    align-self: center;
}