.navbar {
    background: black;
}
.navbar-brand {
    font-size: 150%;
    font-weight: 500;
}
.navbar-nav li {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.navbar-nav li button {
    background: white;
    padding: 4px 6px;
    width: 130px;
    font-weight: 500;
}
.navbar-nav li select {
    height: 37px;
    width: 145px;
    background: white;
}